:root {
 --body-background-color: #FFFFFF;
 --footer-background-color: #2F303A;
 --main-backgraund-color: #e5e5e5;
 --text-wite-color: #FFFFFF;
 --text-grey-color: #757575;
 --text-black-color: #212121;
 --buton-color: #F5F4FA;
 --hover-text-color: #2196f3;
} 

/*общие*/
a {
 text-decoration: none;
}

li {
 list-style: none;
}

.head {
 color: var(--text-black-color);
 background-color: var(--body-background-color);
}

body {
 font-family: Roboto;
}

/*логотип-веб*/
.logo {
 font-family: Raleway;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em; 
 color: var(--hover-text-color);
}
.logo-web {
 color: var(--text-black-color);
}

/*меню-контакты*/
.nav {
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--text-black-color);
}

.nav:visited,
.nav a:hover,
.nav a:focus {
 color: var(--hover-text-color);
}
  

.header-link a {
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--grey-text-color);
}

.header-link a:hover,
.header-link a:focus {
 color: var(--hover-text-color);
}

/*решение*/
.bbc{
 background-color: var(--footer-background-color);
}

.bbc-text {
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: var(--text-wite-color)
}

.bbc-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

  font-family: inherit;
  background: var(--hover-text-color);
  color: var(--text-wite-color);
}

/*4абзаца*/

.features-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-black-color)
}

.cfeatures-p {
 font-weight: 400;
 font-size: 14px;
 line-height: 1.14;
 color: var(--text-grey-color)
}

/*чем занимаемся*/

